@import "tailwindcss";
 .heroSec{
  background-image: url('/mothers-meals-nextjs-website/home-foodi-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
 
 @keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-border {
  background-size: 200% 200%;
  animation: gradient-border 3s linear infinite;
}
 
 .montserrat  {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}
 
/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px; /* Reduced width */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #95063C, #E7154F);  
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #E7154F, #95063C); 
}

::-webkit-scrollbar-track {
  background: #f4f4f4;  
  border-radius: 10px;
}

 
::selection {
  background-color: #d2b161;  
  color: black;  
}
 
 
.MarqueeWrapper{
 
 

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );

}


@media (max-width: 600px) {
  .mobileLink {
    width: 100vw;
  }
}
@media (max-width: 768px) {

  .ProcessContainer{
flex-direction: column;
gap: 40;
justify-content: space-evenly;
  }
  .farm-home-line {
    left: 15%;
    top: 50%;
    width: 80%;
    
    transform: rotate(90deg);
  }
.nav{
  justify-content: space-between;
}
 
  
}



@media (max-width: 1023px) {

  .navLinks{
    display: none;
  }
 
  
}